<%- include("partials/header.ejs") %>

<h1>Drink info</h1>

<% if(locals.drink) { %>
    <h1><%= drink.strDrink %></h1>
    <p>
        <%= drink.strDrink %> is an <%= drink.strAlcoholic %> <%= drink.strCategory %> that is served in a <%= drink.strGlass %>.
    </p>
    <ul>
        <% for (let i = 0; i < drink.ingredients.length; i++) { const ingredient = drink.ingredients[i];%>
            <li><p><%= ingredient.name %>: <%= ingredient.amount %></p></li>
            <form action="/searchIngredient" method="post">
                <button type="submit" value="<%= ingredient.name %>" name="ingredient">More info</button>
            </form>
        <% } %>
    </ul>
    <p><%= drink.strInstructions %></p>
<% } %>

<form action="/backToDrinks" method="post">
    <button class="btn" type="submit">Back</button>
</form>

<%- include("partials/footer.ejs") %>