<%- include("partials/header.ejs") %>

<% if(locals.drink) { %>
    <section id="drink-info">
        <header>
            <img id="drink-image" src="<%= drink.strDrinkThumb %>" alt="">
            <section id="drink-basic-info">
                 <div id="basic-info">
                    <h1 class="h1 border-bottom border-primary pb-2"><%= drink.strDrink %></h1>
                    <p class="fs-5">
                        <%= drink.strDrink %> is an <%= drink.strAlcoholic %> <%= drink.strCategory %> that is served in a <%= drink.strGlass %>.
                    </p>
                </div>
                <div id="instructions">
                    <h1 class="h1 border-bottom border-primary pb-2">How to prepare</h1>
                    <p class="fs-5"><%= drink.strInstructions %></p>
                </div>
            </section>
        </header>
        
        <h1 class="h1 border-bottom border-primary pb-2">Ingredients:</h1>
        <section id="ingredient-list">
            <% for (let i = 0; i < drink.ingredients.length; i++) { const ingredient = drink.ingredients[i];%>
                <div class="ingredient">
                    <img class="ingredient-image" src="https://www.thecocktaildb.com/images/ingredients/<%= ingredient.name %>-Small.png" alt="">
                    <p class="ingredientName h3 border-bottom pb-2"><%= ingredient.name %></p>
                    <p class="ingredientAmount">
                        <% if(!ingredient.amount) {%>
                            As much as you want.
                        <% } else {%>
                            <%= ingredient.amount %>
                        <% } %>
                    </p>
                    <form action="/searchIngredient" method="post">
                        <button class="btn btn-dark" type="submit" value="<%= ingredient.name %>" name="ingredient">More info</button>
                    </form>
                </div>
            <% } %>
        </section>
        
        <form action="/backToDrinks" method="post">
            <button class="btn btn-primary" type="submit">Back</button>
        </form>

        <%- include("partials/footer.ejs") %>
    </section>
<% } %>