<%- include("partials/header.ejs") %>

<% if(locals.ingredient) { %>
  <main>
    <section id="head">
      <img class="mt-4" src="https://www.thecocktaildb.com/images/ingredients/<%= ingredient.strIngredient %>-Medium.png" alt="">
      <div id="basic-info">
        <h1 class="h1 border-bottom border-primary pb-2 mb-4 mt-4"><%= ingredient.strIngredient %></h1>
        <p class="fs-5"><span class="h1 fs-5">Type:</span> <%= ingredient.strType || "None" %></p>
        <p class="fs-5"><span class="h1 fs-5">Alcoholic:</span> <%= ingredient.strAlcohol %></p>
      </div>
    </section>
  
    <% if(ingredient.strDescription !== "") {  %>  
      <section id="about">
        <h1 class="h1 border-bottom border-primary mt-4 mb-3">About this ingredient:</h1>
        <div class="description">
          <%= ingredient.strDescription %>
        </div> 
      </section>
    <% } %>
  </main>
<% } %>

<form action="/drinkInfo" method="post">
    <button class="btn btn-primary" type="submit">Back</button>
</form>

<script src="js/ingredient.js"></script>

<%- include("partials/footer.ejs") %>