<%- include("partials/header.ejs") %>

<div class="drinks-container">
    <% if(locals.drinks) { %>
        <% for (let i = 0; i < drinks.length; i++) { const drink = drinks[i];%>
            <div class="drink" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= drink.strDrinkThumb %>');">
                <div class="info-container">
                    <h1><%= drink.strDrink %></h1>
                    <form action="/drinkInfo" method="post">
                        <button class="btn btn-primary" type="submit" value="<%= drink.idDrink %>" name="id">More info</button>
                    </form>
                </div>
            </div>
        <% } %>
    <% } %>
</div>

<form action="/backHome" method="post">
    <button class="btn btn-primary" type="submit">Back</button>
</form>
    
<%- include("partials/footer.ejs") %>